<div class="container-fluid hgt100">
  <div class="row hgt100">
    <div class="col-12 col-sm-6 col-md-7 col-lg-8 no-padding login_image">
      <img src="./assets/img/Login.jpg" alt="Login Image" />
    </div>
    <div class="col-12 col-sm-6 col-md-5 col-lg-4">
      <div class="row hgt100">
        <div class="col-12 align-self-start text-right mt-3 mb-3">
          <a class="text-primary">About</a>
          <span class="text-primary mx-2">|</span>
          <a class="text-primary">Help</a>
          <span class="text-primary mx-2">|</span>
          <a class="text-primary">Support</a>
        </div>
        <div class="col-12 align-self-center">
          <div class="row justify-content-md-center">
            <div class="col-11 text-left" id="login_form">
              <div class="row no-margin">
                <div class="col-12 form_logo mb-4">
                  <img src="./assets/img/assurant-full-logo.png" alt="assurant logo" />
                </div>
              </div>
              <div class="input-group mb-2">
                <mat-form-field class="col-12">
                  <input matInput placeholder="UserID">
                </mat-form-field>
              </div>
              <div class="input-group mb-2">
                <mat-form-field class="col-12">
                  <input matInput placeholder="Password">
                </mat-form-field>
              </div>
              <div class="no-margin row">
                <div class="col-12 col-md-6">
                  <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div class="col-12 col-md-6 text-right">
                  <a class="text-primary">Forgot password?</a>
                </div>
              </div>
              <div class="col-12 text-center mt-5">
                <button class="col-12 bg-primary" mat-raised-button color="primary" (click)="submit()">SIGN IN</button>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 align-self-end text-right mt-3 mb-3">
          <span class="copyrights">&copy; 2018 ASSURANT, INC. ALL RIGHTS RESERVED</span>
        </div>
      </div>
      <!-- <div class="col-12 justify-content-end">

          <a class="text-primary">About</a>
          <span class="text-primary">|</span>
          <a class="text-primary">Help</a>
          <span class="text-primary">|</span>
          <a class="text-primary">Support</a>
      </div> -->
      <!-- <div class="container">
          <div class="row justify-content-center">
              <div class="col-12">
                  <img src="./assets/img/assurant-full-logo.png" alt="assurant logo" width="40%" />
                  <div class="input-group mb-3">
                      <mat-form-field>
                          <input matInput placeholder="UserID">
                      </mat-form-field>
                  </div>
                  <div class="input-group mb-3">
                      <mat-form-field>
                          <input matInput placeholder="Password">
                      </mat-form-field>
                  </div>
                  <div class="col-12 row">
                      <div class="col-6">
                          <mat-checkbox color="primary">Remember Me</mat-checkbox>
                      </div>
                      <div class="col-6 text-right">
                          <button type="button" class="btn btn-link px-0">Forgot password?</button>
                      </div>
                  </div>
                  <div class="col-12 text-center">
                      <button mat-raised-button color="primary" (click)="submit()">SIGN IN</button>
                  </div>

              </div>
          </div>
      </div> -->

    </div>
  </div>
</div>
<!-- <div fxLayout="row" style="border:0px solid;" fxFlexFill fxLayout.xs="column">
    <div fxFlex="60">
        <img src="./assets/img/Login.jpg" alt="test logo" fxFill/>
    </div>
    <div fxFlex="40" fxLayout="column">
        <div fxFlex="5" style="border:1px solid red;text-align: right;padding-right: 10%;">
            <span class="color">
                <a>About</a>
            </span>
            <span class="color">|</span>
            <span class="color">
                <a>Help</a>
            </span>
            <span class="color">|</span>
            <span class="color">
                <a>Support</a>
            </span>
        </div>
        <div fxFlex="90" style="border:1px solid black;">
            <form fxLayout="column" fxFlexAlign="center">
                <div fxFlex="10" >
                    <img src="./assets/img/assurant-full-logo.png" alt="assurant logo" width="40%" />
                </div>
                <div fxFlex fxLayout="column">
                    <mat-form-field>
                        <input matInput placeholder="UserID">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password">
                    </mat-form-field>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-checkbox style="font-size:12px;" color="primary">Remember Me</mat-checkbox>

                        <label style="color:#0066CC;">Forgot Password?</label>
                    </div>
                </div>
                <button mat-raised-button color="primary" (click)="submit()" style=" border-radius:45px; width:80%; height:45px;">SIGN IN</button>
            </form>
        </div>
        <div fxFlex="5" style="border:1px solid yellow;text-align:center">
            <p style="font-size:.75em; color:#666666;">&copy; 2018 ASSURANT, INC. ALL RIGHTS RESERVED
                <p>
        </div>
    </div>

</div> -->
