.login_image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
}
.form_logo img {
    max-height: 36px;
}
#login_form button {
    border-radius: 50px;
}
.copyrights {
    color: #b5b5b5;
}