.header-p{
    background-color: #e5edf4;
}

.contact-text{
    color:#06c;
}

.bg-darkgrey {
    background: #e5edf4;
}
.heading {
    font-weight: 600;
    font-size: 90%;
    color: #6d6d6d;
}
.so_info {
    font-size: 108%;
    strong {
        font-size: 120%;
    }

    .mt-ci{
        margin-top: 2em!important;
    }
}
