
/* Side Menu */


.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item{
    border-bottom: #cacaca 1px solid !important ;
    height: 45px;
}
.mat-nav-list {
  .material-icons {
    font-size: 22px;
  }
}

  .mat-list-item.active,.mat-list-item:hover{
    background-color: #0456A7 !important;
    color:white !important;
  }  