<mat-sidenav #sidenav class="col-12 no-padding sidepanl-bg" mode="side" opened="true">
    <mat-nav-list class="no-padding">
        <mat-list-item routerLink="1" routerLinkActive="active" [routerLink]="['/dashboard']">
            <mat-icon mat-list-icon class="col">dashboard</mat-icon>
            <div class="col-10 mat-text">
                Dashboard
            </div>
        </mat-list-item>
        <mat-list-item routerLink="1" routerLinkActive="active" [routerLink]="['/vendor']">
            <mat-icon class="col" mat-list-icon>people</mat-icon>
            <div class="col-10 mat-text">
                Vendor
                <span class="badge badge-pill badge-warning float-right">
                    4
                </span>
            </div>
        </mat-list-item>
        <mat-list-item routerLink="1" routerLinkActive="active" [routerLink]="['/order']">
            <mat-icon class="col" mat-list-icon svgIcon="orderIcon"></mat-icon>
            <div class="col-10 mat-text">
                Order
                <span class="badge badge-pill badge-warning float-right">
                    4
                </span>
            </div>
        </mat-list-item>
        <mat-list-item routerLink="1" routerLinkActive="active" [routerLink]="['/preferences']">
            <mat-icon class="col" mat-list-icon svgIcon="orderIcon"></mat-icon>
            <div class="col-10 mat-text">
                Admin & Support
            </div>
        </mat-list-item>
    </mat-nav-list>
</mat-sidenav>
