.topheader {
  .title {
    font-size: 1.25em;
    font-weight: 600;
  }

  .anchortag {
    font-size: 0.875em;
  }
}

.resource_list {
  .title {
    font-weight: 600;
  }

  ant {
    font-size: 0.875em !important;
  }

  .time {
  }

  .datetime {
    font-size: 0.875em !important;
  }

  .dot {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 20px;
    margin: 0 4px 0 0;
  }

  .material-icons {
    font-size: 30px;
    padding-top: 9px;
    color: #0066cc;
  }

  .download-link {
    cursor: pointer;
  }

  border-bottom: 1px solid rgba(0,0,0,.12);
}
