<div class="topheader">
    <div class="title">My Profile</div>
</div>
<mat-divider></mat-divider>

<div class="userprofile">
    <div class="title">
        <div>
            Hello John
        </div>
        <div>
            <img src="../assets/img/profileimage.png" style="height: 90px;" alt="Assurant logo" />
        </div>
    </div>

    <div class="content">
        <div class="profiledata">
            <div>
                <p>Full Name</p>
                <label>John Smith </label>
            </div>
            <div>
                <p>Email ID</p>
                <label> johnsmith@assurant.com </label>
            </div>
            <div>
                <p>Contact</p>
                <label>+1 (222) 222 2222 </label>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <mat-list role="list">
        <a mat-list-item>
            Settings
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
            Edit Profile
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item>
            Signout
        </a>
        <mat-divider></mat-divider>
    </mat-list>
</div>