<div class="topheader no-margin row no-margin">
    <div class="title col-9 my-3">Notifications</div>
    <div class="anchortag col-3 my-3 text-right"><a class="text-primary"> Clear All</a></div>
</div>
<mat-divider></mat-divider>
<div class="notification_list">
        <div class="row no-margin bg-light">
            <div class="title col-10 mt-2 text-primary">Notification Title</div>
            <div class="title col-2 text-right mt-2"><span class="dot bg-success"></span></div>
            <div class="contant col-12 my-2">
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit
            </div>
                <div class="datetime col-10 mb-2  text-secondary">Today, 10:10 AM</div>
                <div class="col-2 text-right mb-2">
                    <mat-icon class="text-danger">delete</mat-icon>
                </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row no-margin bg-light">
                <div class="title col-10 mt-2 text-primary">Notification Title</div>
                <div class="title col-2 text-right mt-2"><span class="dot bg-success"></span></div>
                <div class="contant col-12 my-2">
                    Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit
                </div>
                    <div class="datetime col-10 mb-2  text-secondary">Today, 10:10 AM</div>
                    <div class="col-2 text-right mb-2">
                        <mat-icon class="text-danger">delete</mat-icon>
                    </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row no-margin">
                    <div class="title col-10 mt-2 text-primary">Notification Title</div>
                    <div class="title col-2 text-right mt-2"></div>
                    <div class="contant col-12 my-2">
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit
                    </div>
                        <div class="datetime col-10 mb-2  text-secondary">Today, 10:10 AM</div>
                        <div class="col-2 text-right mb-2">
                            <mat-icon class="text-danger">delete</mat-icon>
                        </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row no-margin">
                        <div class="title col-10 mt-2 text-primary">Notification Title</div>
                        <div class="title col-2 text-right mt-2"></div>
                        <div class="contant col-12 my-2">
                            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit
                        </div>
                            <div class="datetime col-10 mb-2  text-secondary">Today, 10:10 AM</div>
                            <div class="col-2 text-right mb-2">
                                <mat-icon class="text-danger">delete</mat-icon>
                            </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row no-margin">
                            <div class="title col-10 mt-2 text-primary">Notification Title</div>
                            <div class="title col-2 text-right mt-2"></div>
                            <div class="contant col-12 my-2">
                                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit
                            </div>
                                <div class="datetime col-10 mb-2  text-secondary">Today, 10:10 AM</div>
                                <div class="col-2 text-right mb-2">
                                    <mat-icon class="text-danger">delete</mat-icon>
                                </div>
                        </div>
</div>